@media not (-moz-bool-pref: 'zen.view.compact') {
	@media not (-moz-bool-pref: 'zen.tabs.vertical.right-side') {  
		
		/* Hidden Elements */
		#zen-expand-sidebar-button,
		#zen-profile-button,
		#PersonalToolbar {
			display: none;
		}

		/* Window Control Buttons Styling */
		.titlebar-buttonbox {
			padding-right: 10px !important;
		}

		.titlebar-button {
			padding: 0px !important;
			min-height: 13px !important;
			min-width: 13px !important;
			align-self: center;
			margin-left: 6px !important;
			border-radius: 50px;
			transition: all 100ms;
		}
		
		.titlebar-min { background-color: hsl(130, 50%, 40%) !important; }
		.titlebar-max, .titlebar-restore { background-color: hsl(60, 50%, 50%) !important; }
		.titlebar-close { background-color: hsl(0, 50%, 50%) !important; }
			
		.titlebar-button > image { visibility: collapse !important; }
		
		@media (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
			.titlebar-button:hover { opacity: 0.25 !important; }
		}

		.titlebar-min:hover { background-color: hsl(130, 50%, 40%) !important; }
		.titlebar-max:hover, .titlebar-restore:hover { background-color: hsl(60, 50%, 50%) !important; }
		.titlebar-close:hover { background-color: hsl(0, 50%, 50%) !important; }

		.titlebar-button:hover { min-height: 20px !important; }
    .titlebar-button:active { transform: scale(0.9); }

		/* Extension Popups Fix */
		#unified-extensions-panel,
	 	.unified-extensions-item-menu-button,
	 	.unified-extensions-item-action-button,
	 	.panel-subview-body,
	 	.subviewbutton,
	 	.unified-extensions-item-contents,
	 	.unified-extensions-item {
			pointer-events: auto !important;
			z-index: 999999 !important;
		}
		
		/* Sidebar Width Setting */
	  	@media (-moz-bool-pref: "ark-left.maintain-default-sidebar-width") {
			#navigator-toolbox {
		 		min-width: 215px !important;
		    	max-width: 215px !important;
			}
	   
			#zen-sidebar-splitter { pointer-events: none; }
	  	}
	}
}

/* CUSTOM FROM ZOEY */
.tab-context-line {
	display: none !important;
}
/*                  */

.tabbrowser-tab {
  .tab-background::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #ff6b6b66, #4ecdc466, #ff6b6b66);
    background-size: 400% 100%;
    animation: urlbar-loading-gradient 1s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.25s;
  }
  
  &[busy="true"] {
    .tab-background::before {
      animation-play-state: running;
      opacity: 1;
    }
  }
  
  &:not([selected="true"]) {
    .tab-background::before {
      border-radius: var(--tab-border-radius);
      margin: var(--tab-block-margin);
    }
  }

  &[zen-essential="true"] {
    .tab-background::before {
      margin: 0;
    }
  }
}

@keyframes urlbar-loading-gradient {
  0% { background-position: 0% 0%; }
  100% { background-position: 200% 0%; }
}

#zen-workspaces-button {
  background-color: rgba(255, 255, 255, 0.04) !important;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1) !important;
  border-radius: 8px !important;
  border: 1px solid #ffffff0c !important;
}

#zen-workspaces-button {
  .subviewbutton {
      &[active="true"] {
          background: rgba(255, 255, 255, 0.1) !important;
          transition: 0.3s !important;
          border: 1px solid #ffffff0a !important;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062) !important;

      }

      &:hover {
          background: rgba(255, 255, 255, 0.2) !important;
          transition: 0.3s !important;
      }

      &:after {
          display: none !important;
      }

  }
}

#urlbar-input::placeholder {
    opacity: 0 !important;
}

#zen-current-workspace-indicator {
	padding: 10px calc(4px + var(--tab-inline-padding)) !important;
	font-weight: 500 !important; 
} 
  
#zen-sidebar-splitter {
  opacity: 0 !important;
  border: none !important;
}

/*  CODE BY kar731 */
@media (-moz-bool-pref: "zen.view.use-single-toolbar") {
  /* Hide the bookmark button */
  #urlbar:not([breakout-extend="true"]) #star-button-box {
    display: none !important;
  }
	
  
  /* - - - CUSTOM BY ZOEY - - - */
	#identity-permission-box {
    display: none !important;
  }
  /* - - - - - - - - - - - - - */
  
  /* Hide the warning label text on http websites until the icon is hovered over */
  #urlbar:not([breakout-extend="true"]) #identity-icon-label {
    display: none;
  }
  
  #urlbar:not([breakout-extend="true"]) #identity-icon-box:hover :is(#identity-icon-label) {
    display: inherit;
  }
  
  #urlbar:not([breakout-extend="true"]) #identity-box:has(#identity-permission-box):not([pageproxystate="invalid"]) #identity-icon-box {
    margin-right: 2px !important;
  }
}

/* Catppuccin Mocha Pink userChrome.css*/

@media (prefers-color-scheme: dark) {

  :root {
    --zen-colors-primary: #313244 !important;
    --zen-primary-color: #f5c2e7 !important;
    --zen-colors-secondary: #313244 !important;
    --zen-colors-tertiary: #181825 !important;
    --zen-colors-border: #f5c2e7 !important;
    --toolbarbutton-icon-fill: #f5c2e7 !important;
    --lwt-text-color: #cdd6f4 !important;
    --toolbar-field-color: #cdd6f4 !important;
    --tab-selected-textcolor: rgb(225, 204, 238) !important;
    --toolbar-field-focus-color: #cdd6f4 !important;
    --toolbar-color: #cdd6f4 !important;
    --newtab-text-primary-color: #cdd6f4 !important;
    --arrowpanel-color: #cdd6f4 !important;
    --arrowpanel-background: #1e1e2e !important;
    --sidebar-text-color: #cdd6f4 !important;
    --lwt-sidebar-text-color: #cdd6f4 !important;
    --lwt-sidebar-background-color: #11111b !important;
    --toolbar-bgcolor: #313244 !important;
    --newtab-background-color: #1e1e2e !important;
    --zen-themed-toolbar-bg: #181825 !important;
    --zen-main-browser-background: #181825 !important;
  }

  #permissions-granted-icon{
    color: #181825 !important;
  }

  .sidebar-placesTree {
    background-color: #1e1e2e !important;
  }

  #zen-workspaces-button {
    background-color: #1e1e2e !important;
  }

  #TabsToolbar {
    background-color: #181825 !important;
  }

  #urlbar-background {
    background-color: #1e1e2e !important;
  }

  .content-shortcuts {
    background-color: #1e1e2e !important;
    border-color: #f5c2e7 !important;
  }

  .urlbarView-url {
    color: #f5c2e7 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #11111b !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #11111b;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }

  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }
}

#personal-bookmarks {
  padding: 0px !important;
  padding-bottom: 5px !important;
}

#personal-bookmarks:hover {
  background-color: transparent !important;
}
